/*
color scheme: https://www.colourlovers.com/palette/1698329/Adventure_Time!
    0,167,197 - blue
    255,198,32 - yellow
    245,203,243 - pink
    166,222,249 - light blue
    191,215,219 - bmo grey
*/

/*Mobile styling*/


/* custom cursor attempt - sword as default, Billy's Gauntlet (will need to rotate -90deg) for hover on flipcards/clickables */

img {
  width: 100%;
  height: 100%;
}

body {
    font-family: 'adventure_time_logoregular';
    height: 100vh;
    width: 100vw;
    background-color: rgb(166,222,249);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maincontainer {
  display: flex;
  height: 80%;
  width: 90%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
}

.front-side, .back-side {
      width: 100%;
      height: 100%;
      padding: 20px;
      position: absolute;
      border-radius: 5px;
      background: #1C7CCC;
      backface-visibility: hidden;
    }

.back-side {
  width: 100%;
  height: 100%;
  padding: 20px 5px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  transform: scale(1);
}

.front-side {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flip-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip {
  transform: rotateY(180deg);
  box-shadow: none;
}

.flip-card {
  display: flex;
  width: calc(25%);
  height: calc(25%);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  transform: rotate(90deg);
}

.front-side {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

.flip-card {
  display: flex;
  width: calc(25% - 10px);
  height: calc(20% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 5px rgba(0,0,0,.3);
  transform: scale(1);
  transition: transform .5s;
  border-radius: 5px;
  background-color: transparent;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid #f1f1f1;
}

 /* Need to test if this interferes or not - card selection emphasis */


.flip-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip {
  transform: rotateX(180deg);
}

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* to prevent card clicking before hitting the start button*/
  #cover-sheet{
    background-color: none;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  /* to cover up the cards upon a successful match - not sure if we're using this or not*/
  .card-cover{
    background-color: rgb(166,222,249);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #header{
    background-color: rgb(255,198,32);
    border-radius: 15px;
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-around;
    align-content: center;
    position: relative;
  }

    #logo-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      flex-basis: auto;
      padding: 5px;
      border-radius: 30px;
    }

      #small-logo{
        display: flex;
        height: 55px;
        width: 110px;
      }
      #memory-game{
        text-align: center;
        font-size: 1em;
        color: #EB0600;
        text-shadow: 1px 1px rgb(112, 4, 4)
      }

    #clock-box{
      display: flex;
      align-content: center;
      justify-content: center;
      flex-basis: content;
    }
      #clock-placeholder{
        width: 120px;
      }

    #restart-box{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      justify-items: center;
      flex-basis: content;
    }

      #restart-button{
        display: flex;
        width: 60px;
        height: 60px;
        align-self: center;
      }

  .hidden{
    display: none; 
  }
  
  #start-button{
    position: absolute;
    width: 80%;
    top: 50%; 
    right: 50%;
    transform: translate(50%, -50%);
  }
    #emerald{
      opacity: .85;
    }
    #start-text{
      position: absolute;
      font-size: 3em;
      color: #EB0600;
        text-shadow: 1px 1px 2px #000000;
        text-shadow: 1px 1px rgb(112, 4, 4);
      top: 50%; 
      right: 50%;
      transform: translate(50%, -50%);
      opacity: .8;
    }

    /* for 3d positioning*/
    .z1{
      z-index: 1;
    }
    .z2{
      z-index: 2;
    }
    .z3{
      z-index: 3;
    }

    /* image specific styling */

    #jake{
      padding: 10px 25%;
    }
    #ice-king{
      padding: 10px 20%;
    }
    #princess-bubblegum{
      padding: 10px 35%;
    }
    #lady-rainicorn{
      padding: 10px 25%;
      padding-bottom: 0px;
    }
    #marceline{
      padding: 10px 33%;
    }
    #lsp{
      padding: 10px 13%;
    }
    #finn{
      padding: 10px 25%;
    }
    #bmo{
      padding: 10px 17%;
    }

@media only screen and (min-width: 600px) {

  .back-side{
    padding: 5px 5px;
  }

  /* need to remember how to show front sides - tweaking images here */
  
  #header{
    justify-content: space-between;
  }
      #logo-box{
        flex-direction: row;
        justify-items: flex-start;
      }
  
        #small-logo{
          height: 100px;
          width: 200px;
        }
        #memory-game{
          font-size: 2em;
          text-shadow: 3px 2px rgb(112, 4, 4)
        }
  
        #clock-placeholder{
          width: auto;
        }
  
      #restart-box{
        display: flex;
        width: 15%;
      }
  
        #restart-button{
          width: 80px;
          height: 80px;
        }
  
    #start-button{
      width: auto;
    }
      #emerald{
        width: 453px;
        height: 359px;
      }
      #start-text{
        position: absolute;
        font-size: 3em;
        color: #EB0600;
          text-shadow: 1px 1px 2px #000000;
          text-shadow: 1px 1px rgb(112, 4, 4);
        top: 50%; 
        right: 50%;
        transform: translate(50%, -50%);
        opacity: .8;
      }

      .maincontainer{
        min-width: 600px;
        max-width: 700px;
        background-image:  url("https://i.kinja-img.com/gawker-media/image/upload/s--HBKCi00J--/c_scale,f_auto,fl_progressive,q_80,w_800/190nxbachor3ojpg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
      }

      #jake{
        padding: 5px 25%;
      }
      #ice-king{
        padding: 5px 20%;
      }
      #princess-bubblegum{
        padding: 5px 35%;
      }
      #lady-rainicorn{
        padding: 5px 25%;
        padding-bottom: 0px;
      }
      #marceline{
        padding: 5px 33%;
      }
      #lsp{
        padding: 5px 13%;
      }
      #finn{
        padding: 5px 25%;
      }
      #bmo{
        padding: 5px 17%;
      }
  

}
@media only screen and (min-width: 900px) {
  #memory-game{
    font-size: 2.9em;
    width: 50%;
    text-shadow: 4px 2px rgb(112, 4, 4)
  }

  .maincontainer{
    min-width: 900px;
    max-width: 1000px;
    background-image:  url("AdventureTimeBackground1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
  }

  #jake{
    padding: 5px 35%;
  }
  #ice-king{
    padding: 5px 30%;
  }
  #princess-bubblegum{
    padding: 5px 40%;
  }
  #lady-rainicorn{
    padding: 5px 35%;
    padding-bottom: 0px;
  }
  #marceline{
    padding: 5px 40%;
  }
  #lsp{
    padding: 5px 25%;
  }
  #finn{
    padding: 5px 33%;
  }
  #bmo{
    padding: 5px 24%;
  }

}

/* testing styling - to show card faces and remove cover div*/
/* .flip-card{
  transform: rotateX(180deg);
}

#start-button{
  display:none;
}
#cover-sheet{
  display:none;
} */
/*end test */ 


/* considering adding this banner, would need to style the logo, clock, and restart to fit - or just logo here and the clock and restart button under?/*
/* #banner{
  position: absolute;
  width: 100%;
  height: 100%;
} */

* {
  /* cursor: url("group-lab1/memory/Cursor-archetypes/FinnSword_64.png"), auto;
  cursor: url(group-lab1/memory/Cursor-archetypes/FinnSword_64.png), auto;
  cursor: url(group-lab1/memory/Cursor-archetypes/FinnSword_64.png), default;
  cursor: url("group-lab1/memory/Cursor-archetypes/FinnSword_64.png"), default; */
  cursor: url(/group-labs/group-lab1/memory/Cursor-archetypes/FinnSword_32.png), default;
}

#start-button:hover, #emerald:hover, #start-text, .flip-card:hover, .front-side:hover, .back-side:hover, #restart-button:hover{
cursor: url(group-labs/group-lab1/memory/Cursor-archetypes/Billy_Gauntlet_Vertical_32.png), pointer;
} 

.flip-card:hover{
  transform: scale(1.1);
  z-index: 5;
}