
/*
color scheme: https://www.colourlovers.com/palette/1698329/Adventure_Time!
    0,167,197 - blue
    255,198,32 - yellow
    245,203,243 - pink
    166,222,249 - light blue
    191,215,219 - bmo grey
*/

/*Mobile styling*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
    font-family: 'adventure_time_logoregular';
    height: 100vh;
    width: 100vw;
  /* display: flex; */
    background-color: rgb(166,222,249);
}

.maincontainer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  border: solid black 1px;
}

.back-side {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-side {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flip-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip {
  transform: rotateY(180deg);
}

.flip-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  transform: rotate(90deg);
}

.back-side {
  width: 100%;
  height: 100%;
  padding: 20px;
  /* position: absolute; */
  transform: scale(1); /* trying this out */
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-side {
  /* width: 100%;
  height: 100%; */
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  /* transform: rotate(90deg); */
  transform: rotateX(180deg);
}

.flip-card {
  display: flex;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  transform: scale(1);
}

.flip-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.flip-card.flip {
  transform: rotateX(180deg);
}
.flip-card {
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 23%;
    height: 20%;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  /* Position the front and back side */

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #4bcdfc;
    color: white;
    transform: rotateY(180deg);
  }

  /* Derek started messing with CSS here 3/22/19 */
  /* to prevent card clicking before hitting the start button*/
  #cover-sheet{
    background-color: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  /* to cover up the cards upon a successful match */
  .card-cover{
    background-color: rgb(166,222,249);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  #header{
    background-color: rgb(255,198,32); /* not sure which banner color to go with yet */
    background-color: rgb(245,203,243);
    border-radius: 15px;
    width: 95%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-around;
    align-content: center;
    position: relative;
    margin-top: 5px;
  }

    #logo-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      vertical-align: bottom;
      flex-basis: auto;
      padding: 5px;
      border-radius: 30px;
    }

      #small-logo{
        display: flex;
        height: 40px;
        width: calc(2.5*40px);
      }
      #memory-game{
        display: flex;
        font-size: .8em;
        color: #EB0600;
        text-shadow: 1px 1px 2px #000000;
        text-shadow: 1px 1px rgb(112, 4, 4)
      }

    #clock-box{
      display: flex;
      align-content: center;
      justify-content: center;
      flex-basis: content;
    }
      #clock-placeholder{
        height: 80px;
        width: 120px;
      }

    #restart-box{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      justify-items: center;
      flex-basis: content;
    }

      #restart-button{
        display: flex;
        width: 60px;
        height: 60px;
        align-self: center;
      }

  /* comment this to reveal hidden elements */
  .hidden{
    display: none; 
  }
  #timerLabel{
    border: 1px solid black;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
  }
  #start-button{
    position: absolute;
    width: 80%;
    top: 50%; 
    right: 50%;
    transform: translate(50%, -50%);
  }
    #emerald{
      opacity: .85;
    }
    #start-text{
      position: absolute;
      font-size: 3em;
      color: #EB0600;
        text-shadow: 1px 1px 2px #000000;
        text-shadow: 1px 1px rgb(112, 4, 4);
      top: 50%; 
      right: 50%;
      transform: translate(50%, -50%);
      opacity: .8;
    }
    /* for 3d positioning*/
    .z1{
      z-index: 1;
    }
    .z2{
      z-index: 2;
    }
    .z3{
      z-index: 3;
    }
    /* for hiding the cards until they are formatted properly */
    /* .flip-card{
      display: none;
    } */

    /* Dave copy/paste */
    .maincontainer {
      width: 640px;
      height: 640px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      perspective: 1000px;
    }
    
    
    .flip-card {
      width: calc(25% - 10px);
      height: calc(33.333% - 10px);
      margin: 5px;
      position: relative;
      box-shadow: 5px 5px 5px rgba(0,0,0,.3);
      transform: scale(1);
      transform-style: preserve-3d;
      transition: transform .5s;
      border-radius: 5px;
    }
    
    .front-side,
    .back-side {
      width: 100%;
      height: 100%;
      padding: 20px;
      position: absolute;
      border-radius: 5px;
      background: #1C7CCC;
      backface-visibility: hidden;
    }
    
    .front-side {
      transform: rotateY(180deg);
    }
    
    .flip-card:active {
      transform: scale(0.97);
      transition: transform .2s;
    }
    
    .flip-card.flip {
      transform: rotateY(180deg);
    }
    /*end*/
@media only screen and (min-width: 600px) {
    /*Desktop styling*/
}